.card{
  background-color: #c1c1c1;
  border-radius: 20px;
  max-width: 30vw;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
}
.card div{
  margin: 25px;
}
.card button{
  margin:5px;
}
#selectWedding h2{
  text-align:center;
}
.num{
  font-size: 4em;
}
#budget{
  text-align: center;
}
#progress_pie{
  width:100%;
}
#costAnalysis{
  min-height: 75%;
  margin: 20px;
}
#costAnalysisCard{
  min-width: 25%;
}
